.Footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    background-color: black;
    padding: 5rem;
    text-align: left;
}

.Footer ul {
    list-style: none;
}

.Footer .container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Footer .container2 h3 {
    margin-bottom: 0.5rem;
}

.Footer .container2 {
    display: flex;
    gap: 2rem;
}